<template>
    <div class="dropdown">
        <div class="dropdown__header" @click="toggleDropdown($event)">
            <span>Select a month</span>
            <i class="fa fa-angle-down" aria-hidden="true"></i>
            <i class="fa fa-angle-up" aria-hidden="true"></i>
        </div>
        
        <div class="dropdown__content">
            <ul>
                <li>January</li>
                <li>February</li>
                <li>March</li>
                <li>April</li>
                <li>May</li>
                <li>June</li>
                <li>July</li>
                <li>August</li>
                <li>September</li>
                <li>October</li>
                <li>November</li>
                <li>December</li>
            </ul>
        </div>
    </div>
</template>

<style lang="scss">
    .dropdown {
        &__header {
            cursor: pointer;
            line-height: 50px;
            padding-left: 10px;
            padding-right: 50px;
            position: relative;
            text-overflow: ellipsis;
    
            &.is-active {
                i.fa {
                    &.fa-angle-up {
                        opacity: 1;
                    }
                    &.fa-angle-down {
                        opacity: 0;
                    }
                }
                + .dropdown__content {
                    height: auto;
                    opacity: 1;
                    visibility: visible;
                }
            }
        }
        &__content {
            height: 0;
            opacity: 0;
            overflow: hidden;
            padding: 15px 10px;
            transition: opacity .3s;
            visibility: hidden;
        }
    }
</style>

<script>
    export default {
        name: 'Dropdown',
        methods: {
            toggleDropdown (event) {
                event.currentTarget.classList.toggle('is-active')
            }
        }
    }
</script>