<template>
  <div id="app">
    <Title msg="Simple Calendar App"/>
    <Dropdown/>
    <p class="text-center">Selected Date: {{ formattedDate }}</p>
    <calendar v-model="curr" />
  </div>
</template>

<script>
import Title from './components/Title.vue'
import Dropdown from './components/Dropdown.vue'

export default {
  name: 'App',
  components: {
    Title,
    Dropdown
  }
}
</script>

<style>
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}
</style>
